# .htaccess
# 
# Created: 2014-01-21
# Modified: 2014-02-27
# 
# I know this file is unnecessarily wordy and would be bad practice in a live
# environment. The excessive comments are for references for this assignment
# and would be stripped in a live version.
# 
# Explanations
# http://stackoverflow.com/questions/12551382/what-does-1-qsa-l-mean-in-my-htaccess-file
# [Accessed 2014-01-21]
# 
# IfModule
# http://stackoverflow.com/questions/17636382/rewriteengine-on-in-ifmodule-mod-rewrite-c-every-time
# [Accessed 2014-01-21]
#
# Error documents
# http://www.javascriptkit.com/howto/htaccess2.shtml
# [Accessed 2014-01-21]
# 
# PHPs generator by Ben Argo
# http://www.cems.uwe.ac.uk/~b2-argo/resources/source.php
# [Accessed 2014-02-27]
# 


# Error handling
ErrorDocument 404 /~g2-petzall/atwd/crimes/error.php?err=501
ErrorDocument 500 /~g2-petzall/atwd/crimes/error.php?err=500
ErrorDocument 501 /~g2-petzall/atwd/crimes/error.php?err=404
# Also see the error.php for further information and error handling.

<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteBase /~g2-petzall/atwd/crimes/
	
	# PHPs generator
	RewriteRule ^(.*\.php)s$ source.php?file=$1 [L]
	
	# 2.2.2 Adding new area; three or less crime types:
	RewriteRule ^6-2013/post/(\w+)/(\w+)/(hom|vwi|vwoi):(\d+)-(hom|vwi|vwoi):(\d+)-(hom|vwi|vwoi):(\d+)/(xml|json)$		create.php?regi=$1&area=$2&$3=$4&$5=$6&$7=$8&response=$9 [L]
	RewriteRule ^6-2013/post/(\w+)/(\w+)/(hom|vwi|vwoi):(\d+)-(hom|vwi|vwoi):(\d+)/(xml|json)$		create.php?regi=$1&area=$2&$3=$4&$5=$6&response=$7 [L]
	RewriteRule ^6-2013/post/(\w+)/(\w+)/(hom|vwi|vwoi):(\d+)/(xml|json)$		create.php?regi=$1&area=$2&$3=$4&response=$5 [L]
	RewriteRule ^6-2013/post/(\w+)/(\w+)/(xml|json)$		create.php?regi=$1&area=$2&response=$3 [L]
	
	# 2.2.3 Delete an area with and without provided region:
	RewriteRule ^6-2013/delete/(\w+)/(\w+)/(xml|json)$		delete.php?regi=$1&area=$2&response=$3 [L]
	RewriteRule ^6-2013/delete/(\w+)/(xml|json)$		delete.php?area=$1&response=$2 [L]
	
	# 2.2.1 Updating the total of a region:
	RewriteRule ^6-2013/put/(\w+):(\d+)/(xml|json)$		update.php?regi=$1&update=$2&response=$3 [L]
	RewriteRule ^6-2013/put/(\w+):/(xml|json)$		error.php?err=605 [L]
	RewriteRule ^6-2013/put/(\w+):(\d+)/(\w+)$		error.php?err=601 [L]
	
	# 2.1.2 Get crimes for specific region: 
	RewriteRule ^6-2013/(\w+)/(xml|json)$		getRegion.php?regi=$1&response=$2 [L]
	RewriteRule ^6-2013/(\w+)/(\w+)$		error.php?err=601 [L]
	
	# 2.1.1 Get totals by region + England/Wales:
	RewriteRule ^6-2013/(xml|json)$		get.php?response=$1 [L]
	RewriteRule ^6-2013/(\w+)$		error.php?err=601 [L]
	
	# Resetting the XML database:
	RewriteRule ^6-2013/reset/$		reset.php [L]
	RewriteRule ^6-2013/reset$		reset.php [L]
	
	# 3.0.0 / 5.0.0 Making sure the assignment URL works:
	RewriteRule ^doc/index.html$		doc/index.php [L]
	RewriteRule ^doc/$		doc/index.php [L]
	
	# Other Errors
	# RewriteRule ^(.*)$		error.php?err=501 [L]
	
	
	
	
	
	
	
	
</IfModule>


# Any		(.*)
# ([\-\d]+)	used for date 
# QSA		query strings are passed through.
# L			Stop after a match.
# \			escape
# \d		digit
# +			one or more (no need for escape)
# *			zero or more
# \w+		Any word character

# RewriteRule ^6-2013/post/(.*)/(.*)/(hom|vwi|vwoi):(\d+)[-(hom|vwi|vwoi):(\d+)]*[-(hom|vwi|vwoi):(\d+)]*/(xml|json)$  update.php?regi=$1&area=$2&response=$ [L]










