/* 
 * File: "~g2-petzall/atwd/crimes/doc/css/main.css"
 * 
 * Author: Gunnar Petzall (UWE no: 10005826) (gpetzall@gmail.com)
 * Created: 2014-02-26
 * Modified: 2014-02-27
 *
 */



/* ======================================== */
/* ========== Initiating Fonts ============ */
/* ======================================== */


article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
	display: block;
}

html {
	min-width: 250px;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
	text-align: left;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #000000;
	/* color: #303231; */
}

a {
	color: #1B4080;
}

a:hover, a:active {
	color: #358ccb;
}

h1 {
	margin-bottom: 0;
	font-size: 40px;
}

h2 {
	color: #000000;
}

header#top {
	overflow: hidden;
	width: 100%;
	height: 48px;
	background-color: #1B4080;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif
}
/* Which font used by the Police.uk? http://forum.city-driving.co.uk/showthread.php?tid=7856 */

header#top div.inner {
	overflow: hidden;
	max-width: 1220px;
	margin: 0 auto 0 auto;
}

header#top div.inner a {
	color: #ffffff;
	text-decoration: none;
}

header#top div.inner a:hover {
	text-decoration: underline;
}

header#top div.inner h1 {
	width: 150px;
	margin: 12px 0 0 20px;
	line-height: 22px;
	font-size: 26px;
	font-weight: normal;
	color: #ffffff;
}



header#top div.inner p {
	float: right;
	width: 130px;
	margin: 10px 0 0 0;
	font-size: 11px;
	color: #ffffff;
}

header#main_header {
	width: 100%;
	min-height: 100px;
	margin: 0 auto;
	background-color: #f0f0f0;
}

header#main_header div.inner {
	overflow: auto;
	width: 790px;
	margin: 0 auto;
	padding: 22px 400px 0 10px;
}

ul#breadcrumbs {
	position: relative;
	height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	font-size: 15px;
}

ul#breadcrumbs li {
	float: left;
	margin: 0 5px 9px 0;
	padding: 0 0 5px 0;
}

h1#doc {
	margin-top: 47px;
}

p.intro {
	margin: 29px 0 39px;
	font-size: 21px;
}



div#main_content {
	width: 910px;
	min-height: 550px;
	margin: 0 auto;
	padding: 0 280px 0 10px;
	background-color: #ffffff;
}



section#navigation {
	position: relative;
	overflow: visible;
	float: right;
	width: 20px;
	height: 20px;
}

nav#get {
	position:absolute;
	overflow: auto;
	width: 240px;
	min-height: 200px;
	padding: 20px;
	background-color: #ffffff;
	right: -277px;
	top: -191px;
}

div#main_content nav#get h2 {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 21px;
}

nav#get ul {
	margin: 0 0 40px 0;
	padding: 0;
	list-style: none;
}

nav#get ul:last-of-type {
	margin-bottom: 10px;
}

nav#get ul li {
	margin: 0 0 9px 0;
	padding: 0 0 5px 0;
}

canvas#canvas1 {
	margin: 20px 0 0 0;
}

canvas#canvas2 {
	float: right;
	clear: right;
	margin: 20px 30px 0 0;
}

section.charts {
	overflow: auto;
	clear: right;
	float: right;
	min-width: 100px;
	min-height: 100px;
	margin: 10px 32px 30px 0;
	/* background-color: #aaaaaa; */
}

p.legend {
	width: 330px;
	margin: 0;
	padding: 10px;
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
}

p.legend.item0 {background-color: #1b4080;}
p.legend.item1 {background-color: #3d5c93;}
p.legend.item2 {background-color: #1c3763;}
p.legend.item3 {background-color: #899cbd;}
p.legend.item4 {background-color: #102850;}
p.legend.item5 {background-color: #6b7990;}
p.legend.item6 {background-color: #d2dae6;}

p.legend.total {
	font-weight: bold;
	color: #000000;
	text-shadow: none;
}

div#main_content h2:first-of-type {
	padding-top: 58px;
}

div#main_content h2 {
	width: 75%;
	margin-top: 0;
	padding: 20px 0 0;
	font-size: 130%;
}

div#main_content p:last-of-type {
	margin-bottom: 50px;
}

dl {
	margin: 30px 0 50px 0;
}

dt {
	margin: 30px 0 5px 0;
	font-size: 110%;
	font-weight: bold;
	font-style: italic;
}

dt:first-of-type {
	margin-top: 0px;
}

dd {
	margin: 3px 0 3px 40px;
}

dd.source {
	margin-top: 15px;
	font-size: 115%;
	font-weight: bold;
	font-style: italic;
	color: #6d2389;
}

dd.source a {
	font-size: 90%;
	font-weight: normal;
}


footer {
	clear: both;
	width: 100%;
	height: 182px;
	border-top: 1px solid #DCDCDC;
	background-color: #f0f0f0;
}

footer div.inner {
	position: relative;
	overflow: hidden;
	width: 1185px;
	margin: 0 auto 0 auto;
	padding: 40px 10px 0 25px;
}

div#images{
	float: right;
	min-width: 20px;
	min-height: 20px;
	margin: 0 0 0 30px;
}

#homeoffice {
	float: right;
	margin: 0 50px 0 30px;
}

#uwe {
	float: right;
	margin: 10px 0 0 0px;
}

footer div.inner p {
	color: #404040;
}














